#container{
    width: 100%;
    max-width: 1280px;
    margin:0 auto;
    /* background-color: aquamarine; */
}
#bg_head{
    background-color: #151c35;
    width: 100%;
    max-width: 1280px;
    height: 115px;
    position:absolute;
    opacity: 50%;
}
#img1{
    background-image: url("../img/buildings_utrecht.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 1280px;
    height: 670px;
}
ul{
    list-style: none;
    opacity: 200%;
}
.contact_options_t{
    color: white;
    float: left;
    display: block;
}
.nav_list{
    float: right;
}
.fig_nav{
    float: left;
    display: block;
    color: yellow;
    font-size: 20px;
    margin-left: 40px;
    padding-right: 50px;
}
#utrecht{
    text-align: center;
    padding-top: 270px;
    font-family: Monsterrat;
    font-size: 48px;
}
#lorem{
    text-align: center;
    padding-top: 10px;
    color: white;
    font-size: 24px;
}
#button1{
    width: 100%;
    height: 45px;
    max-width: 175px;
    background-color: #f9e03b;
    font-size: Monsterrat;
    font-size: 20px;
    border: none;
    text-align: center;
    margin-left: 550px;

}
#input_bg{
    width: 100%;
    background-color: #f9e03b;
    height: 266px;
    margin-top: -20px;
}
#input_title{
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
}
.input_stitle{ /*small title*/
    float: left;
    padding-right: 20px;
    margin-left: 20px;;
}
#inputStart{
    margin-left: 100px;
    padding-top: -100px;
}
#button2{
    border: none;
    color: aliceblue;
    background-color: #353535;
    margin-top: 20px;
}
#img2{
    float: left;
    width: 640px;
    height: 490px;
}
.info{
    background-image: url("../img/grayBG.png");
    background-repeat: no-repeat;
    background-size: auto;
    color: black;
    width: 640px;
    height: 490px;
    float: right;
}
.img2_t{
    padding-left: 20px;
}
.img2_tx{
    font-size: 18px;
}
.far fa-check-circle{
    margin-top: 20px;
    font-size: 20px;
}
table{
    clear: left;
     float: left; 
    margin-left: 200px;
}
td.collum1 {
    padding-right: 800px;
}
#img3{
    clear: both;
    background-image: url("../img/rs_utrecht.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 100px;
    max-width: 1280px;
    height: 404px;
}
#trusted{
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    color: white;
}
#kaart_container{
    margin-left: 100px;
}
.kaart{
    width: 100%;
    max-width: 307px;
    height: 257px;
    border-radius: 10px;
    float: left;
    background-color: #ffffff;
    margin-top: 80px;
    margin-left: 40px;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 98px;
}
.blueBg{
    background-color:#00a4ff;
    width: 100%;
    height: 205px;
    /* clear: both; */
    /* float: left; */
    background-size: cover;
    margin-top: 280px;
}
.cardPrice{
    width: 318px;
    margin-left: -6px;
    padding: 8.4px 0; 
    font-size: 24.3px;
    background-color: #f0d839;
    
}
aside{
    float: left;
}
#img4{
    width: 335px;
    height: 435px;
    margin:50px;
    float: left;
}
#transport_t{
    float: left;
    padding-left: 100px;
}
#travel_icon_container{
    float: left;
    margin-top: 150px;
    margin-left: -300px;

}
.travel_blocks{
    float: left;
    margin-left: 50px;
    text-align: center;
    padding-top: 25px;
    position: adaptive;
}
#flight_box{
    height: 50px;
    width: 120px;
    color: white;
    background-color: #00a3fe;
    text-align: center;
}
/* #flight_box['1']{
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid red;
    border-bottom: 50px solid transparent;
  } */
  #cab_box{
    height: 50px;
    width: 120px;
    background-color: #e4e4e4;
    text-align: center;
}
#travelT{
    width: 500px;
    float: left;
    padding-top: 50px;
    padding-left: 80px;
}
#travelB{
    float: left;
    width: 170px;
    height: 50px;
    margin-top: 35px;
    margin-left: 210px;
}
#img5{
    
    clear: both;
    background-image: url("../img/ht_utrechtC.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 100px;
    max-width: 1280px;
    height: 550px;
    opacity: 30%;
}
#kaart_container2{
 margin-left: 80px;
}
.kaart2{
    background-color: white;
    width: 100%;
    max-width: 307px;
    height: 257px;
    border-radius: 10px;
    float: left;
    margin-top: -170px;
    margin-left: 40px;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 100px;
    opacity: 99.9%;
}
#img6{
    width: 100%;
    height: 50%;
    margin-top: -50px;
}
#img7{
    width: 100%;
    height: 50%;
    margin-top: -50px;
}
#img8{
    width: 100%;
    height: 50%;
    margin-top: -68px;
}
.hotelT{
    margin-top: 5px;
    margin-bottom: -15px;
}
.hoteldT{
    margin-bottom: -10px;
}
.hotel_text{
    font-weight: bolder;
}
.hotelPrice{
    margin-top: -15px;
    margin-bottom: 2px;
}
.hotelB{
    background-color: #f0d839;
    height: 37px;
    border: none;
}
#blueBG_hotel{
    background-color:#00a4ff;
    width: 100%;
    height: 205px;
    margin-bottom: -30px;
}
#img9{
    background-image: url("../img/img9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 1280px;
    height: 665px;
    opacity: 50%;
    float: left;
    text-align: center;
    margin-top: -31px;
    margin-bottom: -500px;
}
#eventsT{
    color: black;
    width: 100%;
    opacity: 99.9%;
    font-size: 50px;
    text-align: center;
}
#kaart_container3{
    margin-left: 80px;
    
}
.kaart3{
    background-color: white;
    width: 100%;
    max-width: 307px;
    height: 257px;
    border-radius: 10px;
    float: left;
    margin-left: 40px;
    text-align: center;
    padding-top: 50px;
    opacity: 99.9%;
}
#img10{
    width: 100%;
    height: 50%;
    margin-top: -50px;
    margin-bottom: -30px;
}
.eventB{
    background-color: #f0d839;
    height: 37px;
    border: none;
}
.eventsdT{
    text-align: center;
}
.eventText{
    text-align: center;
    font-style: italic;
}
#whtebg{
    background-color: white;
    width: 1280px;
    height: 685px;
}
#img11{
    background-image: url("../img/image11.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 805px;
    height: 504px;
    float: left;
    margin-top: 90px;
    margin-left: 70px;
    margin-bottom: 65px;
}
#sEventBg{
    width: 100%;
    max-width: 475px;
    height: 360px;
    background-color: white;
    border: 1px solid black;
    margin-left: 700px;
    margin-top: 500px;
    position: absolute;
    border-radius: 10px;

}
#sEventB{
    background-color: #f0d839;
    height: 37px;
    border: none;
    float: right;
    margin-right: 150px;
}
#utrecht_review{
    clear: both;
    background-image: url("../img/utrecht_review.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 1280px;
    height: 670px;
}
#opacity_colorReview{
    width: 100%;
    max-width: 1280px;
    height: 670px;
    background-color: #212226;
    opacity: 50%;
}
#white{
    color: white;
    width: 100%;
    font-size: 150%;
    text-align: center;
    padding-top: 100px;
}